/* -- Font Family -- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: skyblue;
}

/* Header CSS */

.header{
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}


/* Body Box CSS */

.box{
    border: 2px solid black;
    border-radius: 20px;
    align-items: center;
    width: 500px;
    height: 450px;
    margin: auto;
    padding: 10px;
    background-color: black;
}

/* Outut Box CSS */
.output{
    border: 1px solid black;
    border-radius: 20px;
    width: 455px;
    height: 80px;
    background-color: white;
    color: black;
    margin: 10px;
    padding: 10px;
    font-size:3rem;
    text-align: end;
    /* justify-content: end; */
    /* align-self: self-end; */
}

.calculator__keys {
    display: grid;
    border-radius: 10px;
    background-color: black;
    grid-template-columns: repeat(4, 1fr);
    margin: 5px;
    
}

.calculator__key--enter {
    grid-column: 4 / 5; /* Start at column #4 and end at column #5 (the very right edge). */
    grid-row: 2 / span 4; /* Start at row #2 and span 4 rows */
    background-color: blue !important;
    color: white;
}

.calculator__key--operator{
    background-color: brown !important;
    font-size: 2rem !important;
    color: white;
}

.calculator__key {
    border: 1px solid black;
    border-radius: 10px;
    margin: 2px;
    padding-block-start: 0.5rem; /* Logical Property for padding-top */
    padding-block-end: 0.5rem; /* Logical Property for padding-bottom */
    padding-inline-start: 1.25rem; /* Logical Property for padding-left */
    padding-inline-end: 1.25rem; /* Logical Property for padding-right */
    font-size: 1.5rem;
    color: white;
    background-color: blueviolet;
  }
/* Footer CSS */
.footer{
    height: 3rem;
    text-align: center;
    background-color: brown;
    color: white;
    font-size: 2rem;
    font-weight: 700;
}

